.cover-user-show {
    height: 100%;
    width: 100%;
    background-image: url(/assets/mypage.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
}

.cover-user-index {
    height: 100%;
    width: 100%;
    background-image: url(/assets/users.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
}

.cover-user-edit {
    height: 100%;
    width: 100%;
    background-image: url(/assets/mypage_edit.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
}

.w-50 {
    width: 50%;
}

.profile {
    padding: 15px;
}
